*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Verdana;
    background-color: black;
    text-align: center;
}
header{
    padding-top: 20px;
}
header h1{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white
}
main video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: aquamarine;
    font-size: 16px;
    margin: 30px;
}
p{
    margin: 24px 0px;
}