*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Verdana;
    background-color: black;
}
header h1{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white
}